@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 1170px;
    margin: auto;
}


header{
    background: url(./image.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.nav-list{
    float: right;
    margin-top: 30px;
    list-style: none;
}

.nav-list li{
    display: inline-block;
}

.nav-list li a{
    color: #000;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 700;
}

.nav-list li a:hover{
    background: #333;
    color: #fff;
}

.logo h2{
    width: 100px;
    height: auto;
    float: left;
    margin-top: 20px;
    font-weight: 800;
    font-size: 40px;
    cursor: pointer;
}

.banner-text{
    position: absolute;
    width: 600px;
    height: 300px;
    text-align: center;
    margin: 20% 29%;
    

}

.banner-text h2{
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 60px;
    
}

.banner-text p{
    font-size: 1.3em;
    font-weight: 300;
}

.banner-text a{
    border: 1px solid #000;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    margin-top: 20px;
    display: inline-block;
}

.banner-text a:hover{
    color: #fff;
    background: #333;
}